
Cubic-The-Game/Cubic-The-Game/bin/*
Cubic-The-Game/Cubic-The-Game/obj/*
Cubic-The-Game/Cubic-The-GameContent/obj/*
Cubic-The-Game.suo
Cubic-The-Game/Cubic-The-Game/Cubic-The-Game - Windows.csproj.Debug.cachefile
Cubic-The-Game/Cubic-The-Game/Cubic-The-Game - XBOX.csproj.Debug.cachefile